body {
    background-color: #ffcb00;
    height: 100vh;
    font-size: large;
}
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #009440;

}
h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #009440;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    color: #009440;
}
ul {
    font-family: 'Times New Roman', Times, serif;
    color: #009440;
    text-align: justify;
    padding: 20px;
}
ol {
    font-family: 'Times New Roman', Times, serif;
    color: #009440;
    text-align: justify;
    padding: 20px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;

}