body {
    background-color: #009440;
    height: 100vh;
    font-size: large;
}
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #ffcb00;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
ul { 
    position: relative; 
    display: inline-block; 
    padding-left: 1em; 
    left: 50%; 
    transform: translateX(-50%); 
    color: #302681;
} 